.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-card {
    width: 100%;
    max-width: 420px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background: white;
    border: 2px solid #342fd3;
}

h2 {
    text-align: center;
    color: #2f37d3;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.full-width {
    width: 100%;
    margin-bottom: 1.5rem;
}

button.register-button {
    background-color: #342fd3;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0.8rem;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.register-button:hover {
    background-color: #2118c2;
    transform: scale(1.05);
}

button[disabled] {
    background-color: #bbc1f8; 
    color: #ffffffa1; 
    cursor: not-allowed;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #2f37d3;
}

.mat-form-field.mat-focused .mat-form-field-outline-thick {
    color: #0014f5;
}

.role-label {
    font-weight: bold;
    color: #2f37d3;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.role-group {
    margin-bottom: 1.5rem;
    border-radius: 7px;
}

mat-radio-button {
    color: #2f3fd3;
}

