a {
    text-decoration: none;
}

.mat-title {
    color: #2f37d3;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px; 
}

.spacer {
    flex: 1 1 auto;
}

nav a {
    margin-right: 20px;
    font-weight: 500;
}

button {
    background-color: #25a0dd; 
    margin-left: 20px;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[routerLink="/login"],
button[routerLink="/register"] {
    background-color: #2528dd; 
    border: 2px solid #2f71d3;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button[routerLink="/login"]:hover,
button[routerLink="/register"]:hover {
    background-color: #371bd8; 
    border-color: #1884c2;
    transform: translateY(-2px) scale(1.02); 
}

mat-toolbar {
    background-color: white;
}


.logo {
    display: flex;
    align-items: center;
}

.logo :hover{
    cursor: pointer;
}

.logo .mat-title {
    font-size: 24px;
    color: #280ef3;
    font-weight: bold;
    margin-left: 15px; 
}

.active{
    text-decoration: underline !important;
}
