<mat-toolbar color="primary">
    <div class="logo" routerLink="/home">
            <app-logo />
            <span class="mat-title">AcademiaX</span>
    </div>

    <span class="spacer"></span>

    <nav>
        <a mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a mat-button routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Courses</a>
    </nav>

    <div>
        @if(userStore.user()){
        <button mat-button [matMenuTriggerFor]="menu">{{userStore.user().name}}</button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/profile">My Profile</a>
            <a mat-menu-item routerLink="/home" (click)="logout()">Logout</a>
        </mat-menu>
        }@else{
        <button mat-raised-button color="accent" routerLink="/login">Login</button>
        <button mat-raised-button color="accent" routerLink="/register">Register</button>
        }

    </div>
</mat-toolbar>