a{
    color: #820bd2;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 70px;  
    height: 20px;
    margin-right: 10px; 
  }
  
  .mat-title {
    color: #820bd2;
    font-size: 24px; 
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  nav a {
    margin-right: 20px;
  }
  
  button {
    margin-left: 20px;
  }

  mat-toolbar{
    background-color: white;
  }
  