.enrollment-card {
    min-width: 250px;
    min-height: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-header {
    background-color: #4c6cec;
    color: white;
    padding: 16px;
    border-radius: 12px 12px 0 0;
    height: 13vh;
    min-height: 75px;
}

mat-card-title {
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

mat-card-content {
    padding: 16px;
    flex-grow: 1;
}

.progress-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #546af7;
    margin-bottom: 10px;
    text-align: center;
}

.progress-text {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.progress-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.background-spinner {
    position: absolute;
}

.background-spinner::ng-deep circle {
    stroke: rgb(213, 184, 216) !important;
}

button {
    width: 100%;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 10px;
    background: #4961fb;
    color: white;
    border: none;
    font-size: 1rem;
    transition: all 0.5s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(135deg, #487dee, #3681d1);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.unenroll-button{
    background: #f44336;
}
button.unenroll-button:hover {
    background: linear-gradient(135deg, #ee5b48, #d14336);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .enrollment-card-item {
        flex: 1 1 100%;
    }

    .progress-title {
        font-size: 1.3rem;
    }

    .progress-text {
        font-size: 0.9rem;
    }

    .no-progress {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 25px;
    }
}