.course-card {
    width: 100%;
    max-width: 380px;
    height: 320px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-card-title {
    font-weight: 800;
    color: #2f2fd3;
    font-size: 1.5rem;
    padding: 10px;
}

mat-card-content p {
    font-size: 1rem;
    color: #555;
}

mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.action-button {
    border-radius: 25px;
    padding: 8px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.enroll-button {
    background-color: #2f3dd3;
    color: white;
}

.enroll-button:hover {
    background-color: #2740b3;
    transform: scale(1.1);
}

.enrolled-button {
    background-color: #1e7b1e;
    color: white;
}

.edit-button, .see-more-button {
    background-color: #2f3dd3;
    color: white;
}

.edit-button:hover, .see-more-button:hover {
    background-color: #2740b3;
    transform: scale(1.1);
}

.delete-button {
    background-color: #e53935;
    color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    height: 25px; 
    padding: 0;
    min-width: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: none; 
    cursor: pointer;
    border-radius: 0 0 0 5px;
}

.delete-button:hover {
    background-color: #c62828;
    transform: scale(1.1);
}

.delete-button mat-icon { 
    object-fit: contain;
    margin: 0;
}


mat-icon {
    font-size: 17px !important;
    color: white;
}