<div class="profile-container">
    <mat-card class="profile-card">

        <div class="profile-header">
            <mat-icon class="profile-icon">person</mat-icon>
            <h2>{{ user?.name }}</h2>
            <p class="role-badge"><strong>{{ user?.roleId === 1 ? 'Student' : 'Instructor' }}</strong></p>
        </div>

        <div class="profile-details">
            <p><strong>Email:</strong> {{ user?.email }}</p>
        </div>

    </mat-card>
    @if(userStore.RoleName() === 'Student'){
    <app-enrollment-list />
    }@else if(userStore.RoleName() === 'Instructor'){
        <h2>Hey {{user.name}}!</h2>
    }

</div>