<mat-card class="lesson-card">
  
    <mat-icon class="lesson-icon">play_circle</mat-icon>
    <mat-card-header>
        <mat-card-title>{{ lesson.title }}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
        @if(isWatched()){
            <span>You already watched this lesson at {{progress()?.watchedAt | date:'mediumDate'}}</span>
        }
    </mat-card-content>
  
    @if(userStore.user()){
        <mat-card-actions >
            @if(isWatched()){
                <button mat-raised-button (click)="openVideo()">Watch Again</button>
            }@else if(isEnrolled) {
                <button mat-raised-button (click)="watch()">Watch Lesson</button>
            }@else if(userStore.RoleName() === 'Instructor' || userStore.RoleName() === 'Admin'){
                <button mat-raised-button (click)="openVideo()">Watch Lesson</button>
            }@else {
                <button mat-raised-button [disabled]=""><mat-icon>lock</mat-icon>Enroll To Watch</button>

            }
          </mat-card-actions>
    }@else{
        <button mat-raised-button class="flickering-button" routerLink="/login">
            Log in To Watch
          </button>
    }
  
  
      
  </mat-card>
  